<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Authentication</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      .success {
        color: blue;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      {% if messages %}
        {% for msg in messages %}
          <small {% if msg.tags %}class="{{msg.tags}}"{% endif %}>{{msg}}</small>
        {% endfor %}
      {% endif %}
      <h1>User Registration Form</h1><br>
      <form method="post">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        <!-- {{register_form | crispy}} -->
        {% for form in register_form %}
          {{form.label_tag}}
          {{form}}
          {{form.errors | striptags}}
        {% endfor %}
        <br><br>
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>